<html xmlns="http://www.w3.org/1999/html">
    <head>
    <meta name="keywords" content=" SinianDragon,林哲, Lin Zhe, Felix Lin,">
    <meta name="description" content="SinianDragon home page">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SinianDragon(Lin Zhe)</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/person_page.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="static/info.js"></script>

    </head>
    <body>
        <!-- header -->
        <nav>
            <a href="personal%20Information.html" class="tags-item">
                <img src='static/images/person.png' alt="personal information" loading="lazy" width="35" height="35">
                <span>Personal Information</span>
            </a>
            <a href="Programme.html" class="tags-item">
                <img src='static/images/research.png' alt="open source project" loading="lazy" width="35" height="40">
                <span>Programme</span>
            </a>
            <a href="Essay Research.html" class="tags-item">
                <img src='static/images/study.png' alt="research and paper" loading="lazy" width="35" height="40">
                <span>Essay Research </span>
            </a>
            <a href="Future Plan.html" class="tags-item">
                <img src='static/images/plan.png' alt="future plan" loading="lazy" width="35" height="40">
                <span>Future Plan</span>
            </a>
            <a href="Hobby.html" class="tags-item">
                <img src='static/images/hobby.png' alt="hobby and love" loading="lazy" width="35" height="40">
                <span>Hobby</span>
            </a>
        </nav>


    <div id="info">
        <table class="head_tb">
            <tr>
                <td rowspan="2" align="center" width="50%">
                    <div id="head_shot">
                        <img src="static/images/SinianDragon.jpg" class="paper_img" width="50%" height="auto">
                    </div>
                </td>
                <td>
                    <h1>Lin Zhe/ SinianDragon</h1>
                </td>
            </tr>
        <br>
        <br>
            <tr>
                <td>
                    <h4>ChongQing University of Post and Telecommunication: </h4>
                    <h4>HP &nbsp;SoftWare Engineering College（2021/9 -- 2025/7）</h4>
                    GitHub: <a href="https://github.com/SinianDragon"> <strong> SinianDragon</strong></a>
                <br>
                <br>
                    ID：<a href="">ORCID/ResearchID</a>
                <br>
                <br>
                    <strong>Email: linzhe020421@gmail.com(Please Contact me) </strong>
                </td>
            </tr>
        </table>
        <table class="head_tb">
            <tr>
                <td colspan="2">
                    <h3>Personal Statement：</h3>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        This is a bachelor's personal blog homepage. He is interested in areas like:
                        <strong> artificial intelligence,big data analytics,computer vision,natural language processing.</strong>

                    </p>
                    <p>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        He is deeply interested in <strong>quantum physics, especially quantum computing and quantum mechanics.</strong>
                        On one hand, his passion for physics stems from his materialistic worldview; he believes that the universe is composed of matter, and physics governs the rules of the universe.
                        Therefore, studying physics is equivalent to exploring the essence of the cosmos.
                        On the other hand, an increasing body of literature demonstrates that the computational methods of the human brain closely resemble quantum computing.
                        He believes that achieving genuine neuromorphic artificial intelligence requires more than just the current approach of deep learning <strong>(which involves stacking large numbers of artificial neurons to fit target functions).</strong>
                        He aspires to create artificial life, <strong>enabling artificial intelligence to possess its thoughts and hava its own emotions</strong> , particularly having self-emotions, which he deems crucial. He believes this will have an indelible impact on the future of in our world and universe.

                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Furthermore, <strong>he has a strong interest in sociology, psychology, and philosophy</strong> because these three disciplines are closely related to human beings and human societies.
                        Sociology observes human civilization from a macro perspective, psychology examines each individual person from a micro perspective, and philosophy integrates these two dimensions to observe the entire world and universe comprehensively.

                    </p>
                    <p>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        His academic goal and dream are to research and develop true <strong>"artificial intelligence," "neuromorphic intelligence," or "artificial life,"</strong> which aim to accelerate the evolutionary process of this world and significantly transform it.
                        Alternatively, he wants to create a virtual world that rivals the real world, enabling people to fulfill dreams they cannot achieve in reality and attain a second life in such world.

                    </p>
                </td>

            </tr>
        </table>
    </div>

    <br>
    <p> <strong>Below are something he achieves or experiences in his academic life:</strong></p>
    
    <!-- header over -->
    
    <hr>


    <div class="publication">
        <div class="pub_left">
            <h3>Research Papers:</h3>
        </div>
        <a href="">
        <div class="pub_right">
            <p>Google Scholar</p>
        </div>
        </a>
    </div>
    
    <table class="paper_table">
        <tr>
            <td class="paper_td"> <img src='static/images/11.jpg' class="paper_img" width="100%">		</td>
            <td class="paper_des">Jimmy SJ. Ren, <b>Li Xu</b>, Qiong Yan, Wenxiu Sun, &quot;Shepard Convolutional Neural Networks&quot; Advances in Neural Information Processing Systems (<i><b>NIPS</b></i>), 2015.
            <p> [<a href="http://www.cse.cuhk.edu.hk/~leojia/papers/mstruct_iccv15.pdf">paper</a>]
                [<a href="http://www.cse.cuhk.edu.hk/leojia/projects/mutualstructure/code/mutual-structure-filtering_code.zip">code</a>] </p>
            </td>	
        </tr>
        <tr>
            <td class="paper_td"> <img src='static/images/5.jpg' class="paper_img" width="100%">		</td>
            <td class="paper_des">Xiaoyong Shen, Chao Zhou, <b>Li Xu</b>, Jiaya Jia, &quot;Mutual-Structure for Joint Filtering&quot; International Conference on Computer Vision (<i><b>ICCV</b></i>), (oral presentation), 2015. 
            <p> [<a href="http://www.cse.cuhk.edu.hk/~leojia/papers/mstruct_iccv15.pdf">paper</a>]
                [<a href="http://www.cse.cuhk.edu.hk/leojia/projects/mutualstructure/code/mutual-structure-filtering_code.zip">code</a>]</p> 		
            </td>	
        </tr>	
        <tr>
            <td class="paper_td"> <img src='static/images/2.jpg' class="paper_img" width="100%">		</td>
            <td class="paper_des">Jianping Shi, Qiong Yan, <b>Li Xu</b>, Jiaya Jia, &quot;Hierarchical Image Saliency Detection on Extended CSSD&quot; IEEE Transactions on Pattern 
            Analysis and Machine Intelligence (<i><b>TPAMI</b></i>), 2015. 
            <p> [<a href="http://www.cse.cuhk.edu.hk/~leojia/papers/mstruct_iccv15.pdf">paper</a>]
                [<a href="http://www.cse.cuhk.edu.hk/leojia/projects/mutualstructure/code/mutual-structure-filtering_code.zip">code</a>]</p> 
            </td>	
        </tr>	
    </table>

    <div class="publication">
        <div class="pub_left">
            <h3>Review Paper:</h3>
        </div>
        <a href="">
        <div class="pub_right">
        </div>
        </a>
    </div>

    <table class="paper_table">
        <tr>
            <td class="paper_td"> <img src='static/images/0.jpg' class="paper_img" width="100%">		</td>
            <td class="paper_des">Jimmy SJ. Ren, <b>Li Xu</b>, Qiong Yan, Wenxiu Sun, &quot;Shepard Convolutional Neural Networks&quot; Advances in Neural Information Processing Systems (<i><b>NIPS</b></i>), 2015.
                <p> [<a href="http://www.cse.cuhk.edu.hk/~leojia/papers/mstruct_iccv15.pdf">paper</a>]
                    [<a href="http://www.cse.cuhk.edu.hk/leojia/projects/mutualstructure/code/mutual-structure-filtering_code.zip">code</a>]
                    [<a href="http://www.cse.cuhk.edu.hk/~leojia/papers/mstruct_iccv15.pdf">ppt</a>]</p>
            </td>	
        </tr>		
    </table>


    <br>
    <hr>

    
    <h3>Programme</h3>
    <table class="project_table">
        <tr>
            <td class="project_des">
                <p><strong>MTV-YOLO</strong></p> 
                <p><em> <br>
                    </em></p>
                <p>Work with <a href="http://people.csail.mit.edu/celiu/">Ce Liu</a></p>
                <br>
            </td>
            <td class="project_td" width="30%"> <img src='static/images/9.jpg' class="paper_img" width="100%">		</td>
        </tr>
        <tr>
            <td class="project_des">
                <p><strong>3MNet</strong></p> 
                <p><em> <br>
                    </em></p>
                <p> <a href="https://github.com/Glory-R/LibLLIE">https://github.com/Glory-R/LibLLIE</a></p>
                <br>
            </td>
            <td class="project_td"> <img src='static/images/10.jpg' class="paper_img" width="100%">		</td>
        </tr>
        <tr>
            <td class="project_des">
                <p><strong>TSAS</strong></p> 
                <p><em> <br>
                    </em></p>
                <p>Work with <a href="http://people.csail.mit.edu/celiu/">Ce Liu</a></p>
                <br>
            </td>
            <td class="project_td"> <img src='static/images/0.jpg' class="paper_img" width="100%">		</td>
        </tr>

        <tr>
            <td class="project_des">
                <p><strong>LibLLIE</strong></p> 
                <p><em> <br>
                    </em></p>
                <p>Work with <a href="http://people.csail.mit.edu/celiu/">Ce Liu</a></p>
                <br>
            </td>
            <td class="project_td"> <img src='static/images/0.jpg' class="paper_img" width="100%">		</td>
        </tr>
        
    </table>

    <p></p>
    <hr>
    <h3>Other experience or prize during his way to science </h3>
    <p><em>Competition Experience</em></p>
    <table class="exp">
        <tr>
            <td class="exp_left">Competition</td>
        </tr>
        <tr>
            <td class="exp_left">International Competition</td>
   
        </tr>
        <tr>
            <td class="exp_left">Cup</td>
        </tr>	
    </table>
    <p><em>Prize and Patent</em></p>
    <table class="exp">
        <tr>
            <td class="exp_left">Software Copyrights  2023SR1743025 </td>
            <td class="exp_right"> </td>
        </tr>
        <tr>
            <td class="exp_left"></td>
            <td class="exp_right"></td>
        </tr>
    </table>
    <hr>
    <br>
    </body>
    <p></p>
    </html>